<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeAliases>
    <typeAlias type="com.nhom3_221404.entity.Invoice" alias="Invoice"/>
    <typeAlias type="com.nhom3_221404.entity.InvoiceHourly" alias="InvoiceHourly" />
    <typeAlias type="com.nhom3_221404.entity.InvoiceDaily" alias="InvoiceDaily" />
    <typeAlias type="com.nhom3_221404.database.repository.InvoiceCritea" alias="InvoiceCritea" />
  </typeAliases>
  <typeHandlers>
    <typeHandler javaType="java.time.LocalDateTime" handler="org.apache.ibatis.type.LocalDateTimeTypeHandler"/>
  </typeHandlers>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${db.driver}"/>
        <property name="url" value="${db.url}"/>
        <property name="username" value="${db.username}"/>
        <property name="password" value="${db.password}"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="mapper/InvoiceMapper.xml"/>
    <mapper resource="mapper/InvoiceDailyMapper.xml"/>
    <mapper resource="mapper/InvoiceHourlyMapper.xml"/>
  </mappers>
</configuration>