<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${ibatis.dao}.InvoiceHourlyDAO">
    <resultMap 
        id="invoiceHourlyRM" 
        type="InvoiceHourly" 
        extends="${ibatis.dao}.InvoiceDAO.invoiceHourlyRM" 
    />

    <select 
        id="selectAll" 
        resultMap="invoiceHourlyRM" 
        timeout="60000"
    >
        select i.*, d.rental_Hours
        from invoice i
        join invoice_hourly d 
        on i.id = d.invoice_id
    </select>

    <insert id="insert" parameterType="InvoiceHourly"> 
        insert into invoice_hourly(invoice_id, rental_hours) 
        values(#{id}, #{rentalHours})
    </insert>

    <update id="update" parameterType="InvoiceHourly">
        update invoice_hourly
        set rental_hours = #{rentalHours}
        where invoice_id = #{id}
    </update>
</mapper>