<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${ibatis.dao}.InvoiceDAO">
    <resultMap id="invoiceRM" type="Invoice">
        <id property="id" column="id"/>
        <result property="roomId" column="room_id"/>
        <result property="price" column="price"/>
        <result property="customerName" column="customer_name"/>
        <result property="billedDate" column="billed_date"/>
        <association property="invoiceType" column="invoice_type" javaType="InvoiceType">
            <result property="code" column="invoice_type"/>
            <result property="name" column="name_type"/>
        </association>
        <discriminator javaType="String" column="invoice_type">
            <case value="dl" resultMap="invoiceDailyRM"/>
            <case value="hl" resultMap="invoiceHourlyRM"/>
        </discriminator>
    </resultMap>

    <resultMap id="invoiceDailyRM" type="InvoiceDaily" extends="invoiceRM">
        <result property="rentalDays" column="rental_days"/>
    </resultMap>

    <resultMap id="invoiceHourlyRM" type="InvoiceHourly" extends="invoiceRM">
        <result property="rentalHours" column="rental_hours" />
    </resultMap>

    <resultMap id="invoiceTypeRM" type="InvoiceType">
        <id property="code" column="code" />
        <result property="name" column="name_type" />
    </resultMap>

    <resultMap id="existsResultMap" type="java.lang.Boolean">
        <result column="res" property="value" />
    </resultMap>

    <select 
        id="selectAll"
        resultMap="invoiceRM"
        timeout="60000"
        resultSetType="FORWARD_ONLY" 
    >
        select i.*, d.rental_days, h.rental_hours
        from invoice i
        left outer join invoice_daily d 
            on i.id = d.invoice_id
        left outer join invoice_hourly h
            on i.id = h.invoice_id
        order by created_at desc
        limit #{page.offset}, #{page.pageSize}
    </select>

    <select id="countAll" resultType="int">
        select count(1) from invoice
    </select>

    <select 
        id="selectLikes"
        resultMap="invoiceRM"
        timeout="60000"
        resultSetType="FORWARD_ONLY" 
    >
        select i.* from invoice i
        where i.id like '%${p}%'
            or i.customer_name like '%${p}%'
            or i.room_id like '%${p}%'
            or i.billed_date like '%${p}%'
        order by created_at desc
        limit #{page.offset}, #{page.pageSize}
    </select>

    <select id="countLikes" resultType="int">
        select count(1) from invoice
        where id like '%${p}%'
            or customer_name like '%${p}%'
            or room_id like '%${p}%'
            or billed_date like '%${p}%'
    </select>

    <select 
        id="selectById"
        resultMap="invoiceRM"
        timeout="60000"
        resultSetType="FORWARD_ONLY" 
    >
        select i.*, it.name_type, d.rental_days, h.rental_hours
        from invoice i
        left outer join invoice_daily d 
        on i.id = d.invoice_id
        left outer join invoice_hourly h
        on i.id = h.invoice_id
        join invoice_type it
            on i.invoice_type = it.code
        where i.id = #{id}
    </select>

    <insert id="insert" parameterType="Invoice"> 
        insert into invoice(id, invoice_type, room_id, price, customer_name, billed_date)
        values(#{id}, #{invoiceType.code}, #{roomId}, #{price}, #{customerName}, #{billedDate})
    </insert>

    <update id="update" parameterType="Invoice">
        update Invoice
        set
            room_id = #{roomId}, 
            price = #{price}, 
            customer_name = #{customerName}, 
            billed_date = #{billedDate},
            invoice_type = #{invoiceType.code}
        where id = #{id}
    </update>

    <delete id="delete">
        delete from invoice where id = #{id}
    </delete>

    <delete id="deleteTypeRecord">
        delete from invoice_${invoiceType.name} where invoice_id = #{id}
    </delete>

    <delete id="deleteAll">
        delete from invoice
    </delete>

    <select id="checkExistsByType" resultMap="existsResultMap">
        select count(1) > 0 as res
        from invoice
        where id = #{id} and invoice_type = #{invoiceType.code}
    </select>
</mapper>